<div class="container">
      
        <div class="offset1">

<%= form_for([@post, @post.comments.build]) do |f| %>
        <div class="controls">
          <%= f.text_area :body, :class => 'text_area', :rows => '6' %>
        </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

</div>
  
</div>
