<div class="container">

  <div class="row-fluid">

    <div class="span8 offset1">

      <img src="assets/title.jpg" />

      <br><br>
      <p>쑥쑥오름교실은 온라인 공개 수업 웹 사이트입니다. 쑥쑥오름교실에서는 초등학교 5, 6학년 과학 수업 영상을 제공하여 학생들이 수업 시간에 배운 내용을 다시 공부할 수 있으며, 영상을 다 보고 나서 확인 문제를 통해 배운 내용을 점검해보고, 게시판에서 교사와 다른 학생들과 궁금한 점을 묻고 답할 수 있습니다.</p>

      <img src="assets/ssorclass.jpg" />
      <p style="text-align:center;"><strong>쑥쑥오름교실</strong></p>

      <p>학생들이 직접 실험을 설계하고 순서대로 실험을 끝낸 다음 실험 결과를 정리하는 과정까지, 제대로 된 과학 실험 수업을 실시하기에 40분은 너무나 짧은 시간입니다. 평소 과학 수업을 하면서 교과서에 제시된 실험을 따라 해보긴 하지만 과학 지식을 체계적으로 전달하는데 부족한 부분이 없지 않나 반성하게 되었고 수업 내용을 녹화해서 학생들 스스로 복습하는데 활용하면 어떨까 하는 생각을 했습니다.</p>

      <img src = "assets/scienceclass.jpg" />
      <p style="text-align:center;"><strong>과학수업시간, 물로켓 날리기</strong></p>


      <p>물론 수업 내용을 그대로 녹화하여 인터넷에 올린다고 해서 학생들이 수동적으로 영상을 봐서는 배우지 못합니다. 쑥쑥오름교실에서 제공하는 영상 컨텐츠는 실재 수업 시간에 했던 활동들 중에서 반드시 알아야 할 내용을 선정하고 가공하여 제공됩니다. 영상 하나가 15분을 넘는 일이 없기 때문에 학생들 입장에서 부담이 적고 언제든 다시 볼 수 있습니다. 학생들은 자연스럽게 기억을 되살릴 수 있으며 수업 시간에 놓친 내용을 다시 공부하거나 잘못 이해했던 내용을 교정할 수 있어 효율적인 복습이 가능합니다.</p>

      <p>쑥쑥오름교실은 교사 입장에서도 유용합니다. 수업 영상을 편집하면서 수업 내용을 강조하거나 잘못 전달한 부분을 바로 잡고, 부족한 자료를 보충해서 학생들에게 다시 제공할 수 있어 수업의 완성도를 높일 수 있기 때문입니다. 또한 수업이 끝난 후 수업을 점검, 평가할 때 단편적인 기억에 의존하는 것이 아니라 녹화해둔 영상을 통해서 실질적으로 확인할 수 있어, 결과적으로는 교사의 수업 능력을 향상시키는 데 도움이 됩니다.</p>

      <p>처음에는 이렇게 녹화한 수업 영상을 동영상 공유 웹 사이트인 유튜브에 업로드하고 학교 홈페이지에 링크시켰습니다.</p>

      <img src = "assets/homepagea.jpg" />
      <p style="text-align:center;"><strong>어린이자료실을 잘 사용하지 않는 어린이들</strong></p>

      <p>하지만 학생들이 수업 영상을 제대로 보고 있는지 확인할 수도 없고 수업 영상을 제공하는 데서 나아가 학생들에게 다양한 교육용 웹 컨텐츠를 제공하고 싶은 욕심이 생겨 최근 웹 프레임워크로 폭발적인 인기를 누리고 있는 레일즈를 배워서 MOOC 웹 애플리케이션인 <a href = https://github.com/ShinJaehun/ClassCasts>클래스캐스트</a>를 직접 개발하기로 마음 먹었습니다.</p>

      <img src = "assets/plan.jpg" />
      <p style="text-align:center;"><strong>개발하면서 그렸던 그림, 나름 애자일 프로세스 도입</strong></p>

      <p>일반적으로 컴퓨터 화면을 녹화해서 공유하는 애플리케이션을 스크린캐스트라고 하는데 교육용 영상 컨텐츠를 공유할 수 있는 웹 애플리케이션이라는 의미로 클래스캐스트라고 이름 붙였습니다.</p>

      <img src="assets/classcasts.jpg" />
      <p style="text-align:center;"><strong>클래스캐스트</strong></p>

      <p>물론 지금은 수업 영상 다시 보기와 확인 문제 풀어보기, 게시판을 통해 의견을 주고받는 기본적인 형태의 상호작용만 제공하지만 앞으로 협동 과제, 토론 학습, 학생 상호 평가와 피드백 같은 기능들을 구현하여 누구나 손쉽게 교육용 웹 사이트를 구축할 수 있는 오픈소스 MOOC 도구가 될 수 있도록 지속적으로 개발하는 중입니다.</p>
      <p>클래스캐스트를 이용하면 현직 선생님께서 자신만의 MOOC 시스템을 만들어 교과 학습에 도움이 되는 강의를 쉽게 올릴 수도 있고, 학교 교육 뿐 아니라 요리, 운동, 뜨개질 다양한 MOOC 시스템이 탄생할 수도 있을 것이라고 생각합니다.</p>

    </div>

  </div><!-- end container row -->

</div><!-- end container -->