<div class="container">

  <div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><img src="assets/slider/1.jpg" /></div>
      <div class="item"><img src="assets/slider/2.jpg" /></div>
      <div class="item"><img src="assets/slider/3.jpg" /></div>
    </div>
          <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>


      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>Classcasts(Beta)</h2>
          <p>Classcasts(Beta)는 루비온레일즈 프레임웍으로 개발한 온라인 공개 수업(Massive Open Oline Course : MOOC) 도구입니다. 공개 수업 영상과 평가 도구, 사용자 상호 협력에 필요한 커뮤니티 기능을 제공합니다. 누구나 Classcasts(Beta)를 이용해 교육용 웹사이트를 빠른 시간에 만들 수 있습니다.</p> 
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>쑥쑥오름교실</h2>
          <p>Classcasts(Beta)로 제작된 쑥쑥오름교실은 초등학교 5, 6학년 과학 수업 영상을 제공하는 웹사이트입니다. 수업 시간에 배운 내용을 다시 공부할 수 있을 뿐만 아니라 선생님이 강조, 추가, 수정한 부분을 영상으로 확인할 수 있습니다. 영상을 다 봤다면 수행평가를 통해 배운 내용을 점검해볼 수도 있습니다. 수업 영상이나 수행평가에서 궁금한 점이 생기면 게시판에서 선생님 또는 친구들에게 질문할 수도 있습니다.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>


<div><!-- end container -->