<div class="container">

  <div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><img src="assets/slider/1.jpg" /></div>
      <div class="item"><img src="assets/slider/2.jpg" /></div>
      </div>
          <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>


      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span3", style="text-align:center">
          <a href = http://classcasts.org/casts/14><img src="http://img.youtube.com/vi/U0Y1t4eZcbo/hqdefault.jpg" title="featured image" alt="an image was here" /></a>
          <strong>쑥쑥오름교실과 클래스캐스트 소개</strong>

        </div>
        <div class="span3", style="text-align:center">
          
             <a href = http://classcasts.org/casts/15><img src="http://img.youtube.com/vi/wNkOkrOGURk/hqdefault.jpg" title="featured image" alt="an image was here" /></a>
             <strong>쑥쑥오름교실 사용 방법</strong>
       </div>
               <div class="span3", style="text-align:center">
          
             <a href = http://classcasts.org/casts/16><img src="http://img.youtube.com/vi/HUqrwH--ltM/hqdefault.jpg" title="featured image" alt="an image was here" /></a>
             <strong>클래스캐스트 설치 방법</strong>
       </div>
               <div class="span3", style="text-align:center">
          
             <a href = http://classcasts.org/casts/18><img src="http://img.youtube.com/vi/NYYLZJu8SL8/hqdefault.jpg" title="featured image" alt="an image was here" /></a>
             <strong>클래스캐스트 사용 방법</strong>
       </div>
        
        </div>
      </div>


<div><!-- end container -->