<h1>Result : <%= @survey.name %></h1>

<ol>
  <% for question in @survey.questions %>
  <li><%= h question.content %></li>
  <ul>
    <% for answer in question.answers %>  
      <li>	<%= h answer.content %>
  <% if @checked.include?(answer.id.to_s) %>
     <i class="icon-ok icon-green"></i>
  <% end %>

      </li>
    <% end %>
  </ul>
  <% end %>
</ol>
