/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.video-container { 
   position: relative; /* keeps the aspect ratio */ 
   padding-bottom: 56.25%; /* fine tunes the video positioning */ 
   padding-top: 60px; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* 여기서부터는 필요 없지 않을까? */
/*
img.highqual { -ms-interpolation-mode:bicubic }
img.nearestn { -ms-interpolation-mode:nearest-neighbor }
*/
/*
body{
	background-color:#FFF;
	font-family:Verdana,Helvetica,Arial;
	font-size:14px;margin:0
	}

a{
	color:#1B97F2;text-decoration:none
}

a:hover{
	text-decoration:underline
}

a img{
	border:none
}

h1{
	font-size:24px
}
	
h2{
	font-size:18px
}

h3{
	font-size:14px
}

h4{
	font-size:12px
}

.clear{
	clear:both
}

ul{
	margin:4px 0;
	padding-left:17px
}

ul.horizontal{
	list-style:none;
	margin:0;
	padding:0
}

ul.horizontal

li{
	margin:0;
	padding:0;
	float:left
}

#flash_notice,#flash_alert{
	padding:10px 0;
	text-align:center;
	color:#FFF
}

#flash_notice{
	background-color:#267923
	}
	#flash_alert{background-color:#871F22}#flash_notice a,#flash_alert a{color:#FFF}.field{margin:10px 0}.special_email_field{display:none}label{display:block}label.check_box{display:inline}.field_with_errors{display:inline}.error_messages{width:400px;border:2px solid #cf0000;padding:0px;padding-bottom:12px;margin:20px 0;background-color:#f0f0f0;font-size:12px}.error_messages h2{text-align:left;font-weight:bold;padding:5px 10px;font-size:12px;margin:0;background-color:#c00;color:#fff}.error_messages p{margin:8px 10px}.error_messages ul{margin:0;margin-left:10px}#top{position:relative;padding-top:1px}#top .logo{margin-top:50px;margin-left:100px;padding-bottom:10px}#top .user_nav{color:#777;font-size:12px;position:absolute;top:15px;right:100px}#top .user_nav a{color:#777;text-decoration:underline}.warning,.warning a,#top .user_nav .warning a{color:#D00;font-weight:bold}#top .subscribe{position:absolute;bottom:10px;right:100px}#top .subscribe li{position:relative;margin-left:8px;font-size:12px}#top .subscribe li .name{display:none}#top .subscribe li:hover .name{display:block;position:absolute;top:-22px;left:-84px;width:200px;color:#000;text-align:center}#nav_bar{position:relative;padding:8px 100px;background-color:#333;border-top:solid 1px #fff;background:-webkit-gradient(linear, left top, left bottom, from(#5c5c5c), to(#111));background:-moz-linear-gradient(top, #5c5c5c, #111);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5C5C5C', endColorstr='#111111');border-bottom:solid 3px #de9f00;margin-bottom:15px}#nav_bar .nav{float:right;padding-top:2px}#nav_bar .nav li{padding-left:25px;font-size:14px;color:#BBB}#nav_bar .nav li a{color:#FFF}

	#main{padding-top:15px;max-width:1500px}#footer{clear:both;font-size:11px;text-align:center;padding:25px 0;color:#555}
*/
/*
.section{
	margin:0 80px;
	position:relative
}

.screenshot img{
	border:solid 1px #999;
	display:block
}
*/






.content{
	margin:0 100px;
	position:relative
}

.content>h1{
	margin-top:1px
}
/*
.text_content{
	margin:0 100px;
	margin-right:400px
}

.actions{
	margin:8px 0
}

.actions a{
	padding:3px 8px 2px 8px;
	font-size:12px;
	color:#000;
	border:1px solid #999;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;background:#DDD;
	background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ddd));
	background:-moz-linear-gradient(top, #f5f5f5, #ddd);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5F5F5', endColorstr='#DDDDDD');text-decoration:none
}

.pretty_button{
	font-size:13px;
	padding:5px 10px 6px 10px;
	font-weight:bold;border:1px solid #466a98;
	border-radius:4px;
	-webkit-border-radius:4px;-moz-border-radius:4px;
	color:#FFF;background:#386FB2;background:-webkit-gradient(linear, left top, left bottom, from(#67b0ef), to(#2b5ea4));
	background:-moz-linear-gradient(top, #67b0ef, #2b5ea4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#67B0EF', endColorstr='#2B5EA4');
	text-decoration:none;text-shadow:0 -1px 0 #036
}

.pretty_button:hover{text-decoration:none}.read_button{font-size:13px;padding:5px 10px 6px 10px;font-weight:bold;border:1px solid #6f2c26;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;color:#FFF;background:#A23831;background:-webkit-gradient(linear, left top, left bottom, from(#f98179), to(#a23831));background:-moz-linear-gradient(top, #f98179, #a23831);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F98179', endColorstr='#A23831');text-decoration:none;text-shadow:0 -1px 0 #661514}.read_button:hover{text-decoration:none}.pagination{margin:8px 0;font-size:12px}.pagination .disabled{color:#999}.pagination em{font-style:normal}.pagination a,.pagination em,.pagination .previous_page,.pagination .next_page{padding:4px}.code_block{margin:12px 0;clear:both}.code_header{position:relative;background-color:#E0E0E0;font-size:12px;padding:4px 7px;border:solid 1px #b6b6b6;border-bottom:none}.CodeRay{overflow:auto;border:1px solid #777;border-top:none;padding:5px 7px;font-size:13px;margin:0;line-height:17px}code{border:solid 1px #ccc;background-color:#EEE;font-family:"Menlo","Courier New","Terminal",monospace;padding:0 3px}pre code{display:block;background-color:#EEE;padding:5px 7px}
*/
.episodes{
/*	margin-right:200px */
}

.unreleased{color:#D00;font-weight:bold;padding-left:5px}

.episodes h2 .remove{
	font-size:14px;font-weight:normal
}

.full .episode{
	padding-bottom:18px;
	border-bottom:solid 1px #e5e5e5;
	margin-bottom:20px
}

.full .screenshot{
	float:left
}

.screenshot img{
	border:solid 1px #999;
	display:block
}

.full .main{
	margin-left:215px
}

.full .info{
	color:#999;
	font-size:12px
}

.full .info a{
	color:#999
}

.full .number{
	text-transform:uppercase;
	font-weight:bold
}

.full h2,.episode h2 a{
	color:#E98C08
}.full h2 .star,.episode h2 a .star{font-size:16px;text-decoration:none;margin-left:3px}.full h2 .unstarred,.episode h2 a .unstarred{color:#AAA}.full h2 .starred,.episode h2 a .starred{color:#E98C08}.full h2{margin:3px 0}.full .description{margin-bottom:17px}.full .stats{font-size:11px;color:#777;font-weight:normal;padding-left:3px}.full .notes{font-size:11px;margin-top:10px}
/*
.list{border-collapse:collapse;width:100%}.list .star{font-size:14px;text-decoration:none;margin-left:0}.list .unstarred{color:#AAA}.list .starred{color:#E98C08}.list td,.list th{border-bottom:solid 1px #ccc}.list td{padding:5px}.list th{padding:5px;text-align:left;color:#777}.list .comment_count{color:#000}.list em{color:#777;padding-left:5px}
*/
.episodes .grid{margin-right:-30px}.grid .episode{float:left;margin-right:20px;margin-bottom:50px;position:relative}.grid .name{font-size:13px;position:absolute;top:135px;left:0}.grid .name .star{font-size:14px;text-decoration:none;margin-left:0}.grid .name .unstarred{color:#AAA}.grid .name .starred{color:#E98C08}.episodes .filters{margin-bottom:15px}.episodes .filter{border:solid 1px #aaa;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;background-color:#EEE;padding:2px 8px;margin-bottom:10px;margin-right:5px;font-size:12px}.episodes .filter a{padding-left:5px}.side{position:absolute;right:0;top:0}.side .banner{margin-top:15px;text-align:center}.episode_views{padding:0 20px;margin:0;font-weight:normal;color:#444;font-size:12px;text-align:center;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;border:solid 1px #bbb;background-color:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));background:-moz-linear-gradient(top, #eee, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');margin-bottom:14px}.episode_views .view{padding-left:3px}.episode_views .view img{background-color:#FFF;background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));background:-moz-linear-gradient(top, #eee, #fff);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#FFFFFF');padding:7px;vertical-align:middle;border:solid 1px #bbb;border-top:none;border-bottom:none}.episode_views .view a img{background:none;padding:2px;border:none}.search_option{margin-bottom:15px}.search_option ul{list-style:none;margin:0;padding:0;border:solid 1px #bbb;border-top:none;padding:5px 20px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}.search_option li{margin:5px 0;font-size:14px}.search_option h2{padding:4px 20px;margin:0;font-weight:normal;color:#444;font-size:14px;text-align:center;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border:solid 1px #bbb;border-bottom-color:#AAA;background-color:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));background:-moz-linear-gradient(top, #eee, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC')}#episode{margin:0 auto;width:962px}#episode.legacy{width:802px}#episode #video_wrapper{border:solid 1px #777;margin-bottom:14px}#episode video{display:block}#episode>.info{position:relative;margin-bottom:15px;background-color:#FFF}#episode .info .screenshot{float:left;padding-right:14px}#episode .info h1{margin:0;padding:0;font-size:20px;margin-bottom:3px}#episode .info h1 .star{font-size:16px;text-decoration:none;margin-left:3px}#episode .info h1 .unstarred{color:#AAA}#episode .info h1 .starred{color:#E98C08}#episode .info h1 em{font-size:16px;color:#777;padding-left:5px}#episode .info h1 .position{color:#999}#episode .info .details{color:#777;font-size:12px}#episode .info .watch{padding-bottom:8px}#episode .info .details a{color:#777}#episode .info .description{margin-top:6px;margin-bottom:18px;margin-right:140px}#episode.legacy .info .description{margin-right:0}#episode .info .social{position:absolute;right:-14px;bottom:18px}#episode .info .downloads{position:absolute;bottom:0;right:0;font-size:13px}#episode .info .downloads li{margin-left:8px}#episode .info .downloads li .overlay{font-size:12px;display:none;color:#999;position:absolute;top:-22px;right:110px;width:220px;text-align:right}#episode .info .downloads li:hover .overlay{display:block}#episode .video_info .screenshot,#episode .video_info .description,#episode .video_info .watch{display:none}#episode .nav{padding:0 8px;margin:0;height:35px;font-weight:normal;font-size:14px;text-align:center;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border:solid 1px #bbb;border-bottom-color:#AAA;background-color:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));background:-moz-linear-gradient(top, #eee, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC')}#episode .nav li{margin:0 6px;margin-top:9px}#episode .nav li a{color:#393939;padding:5px 8px;padding-bottom:10px}#episode .nav li a.selected{border:solid 1px #ccc;border-bottom:none;background-color:#F5F5F5;color:#555;border-top-left-radius:5px;border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;cursor:default}#episode .nav li a.selected:hover{text-decoration:none}#episode .nav .previous,#episode .nav .next{float:right}#episode .nav_section{background-color:#F5F5F5;border:solid 1px #bbb;border-top:none;padding:10px 20px;position:relative}#episode .nav_section .progress{z-index:100;position:absolute;top:40px;left:400px;background-color:#333;background-color:rgba(0,0,0,0.7);border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;padding:50px}#episode.legacy .nav_section .progress{left:320px}#episode.legacy .asciicast .imageWrapper{overflow:auto;clear:both}#episode.legacy .asciicast .imageWrapper img{display:block}#episode .asciicast .languages{float:right;margin-left:10px}#episode .asciicast{line-height:130%}#episode .browse_code img{vertical-align:bottom}#episode .show_notes ul{margin-top:-10px;padding-top:0;margin-bottom:20px}#episode .episode_actions{float:right;margin-left:10px}#episode .similar{margin-top:15px}#episode .similar .episode:last-child{border-bottom:none}#episode .pro_required{width:700px;margin:20px auto}#episode .pro_required img{float:left;padding-top:5px}#episode .pro_details{margin-left:210px;font-size:16px}#episode .pro_details p{margin-bottom:10px}

/*
#comments{margin-top:10px}.comment{margin:20px 0;position:relative}.comment .avatar{float:left;border:solid 1px #ccc;color:#FFF;padding:4px}.comment .avatar img{display:block}.comment .user_actions{position:absolute;top:72px}
*/
/*
.comment .main{margin-left:83px}.nested_comments{margin-left:83px}.nested_comments .nested_comments .nested_comments .nested_comments{margin-left:0}.comment .headline{padding:5px 14px;font-size:12px;background-color:#DDD;border:solid 1px #bbb;border-bottom:none;border-top-left-radius:5px;border-top-right-radius:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));background:-moz-linear-gradient(top, #eee, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC')}.comment .position,.comment .name{font-weight:bold}.comment .created_at{color:#666;padding-left:8px}.comment_content{padding:1px 15px;background-color:#FFF;border:solid 1px #ccc;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}.comment .actions{margin-bottom:12px}.comment blockquote{margin:0;padding-left:10px;border-left:solid 5px #ccc;color:#777}#add_comment{margin-top:30px}.formatting{font-size:12px;margin:8px 0}.markdown_examples{margin-top:5px}.markdown_examples table{border-collapse:collapse}.markdown_examples table td{border:solid 1px #ccc;padding:2px 10px}.markdown_examples .code_block{width:200px}#pro_info{width:800px;margin:0 auto;font-size:14px}#pro_info .intro{font-size:18px;line-height:24px;margin-bottom:30px}#pro_info .intro img{float:left;margin-right:25px;padding-top:5px}#pro_info .exclamation{text-align:center;font-size:16px;font-style:italic}#pro_info .section{border:solid 1px #aaa;-webkit-border-radius:12px;-moz-border-radius:12px;padding:20px 20px;padding-right:100px;margin-bottom:20px}#pro_info .pro_section{background-image:url(/assets/pro_banner-44f426939bcf7c7edd7809ed78ab104b.png);background-repeat:no-repeat;background-position:right top}#pro_info .revised_section{background-image:url(/assets/revised_banner-49663c3776645879bea01c6f7ef45895.png);background-repeat:no-repeat;background-position:right top}#pro_info .section h3{margin:0;font-size:16px;margin-bottom:2px;color:#000;border-radius:8px}#pro_info .pretty_button{width:280px;margin:0 auto;margin-top:20px;display:block;text-align:center;font-size:16px;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px}#pro_info .pretty_button .per_month{display:block;font-size:12px;font-weight:normal;color:#CBDDF2;margin-top:2px}#pro_info h2.bar{padding:4px 20px;margin:0;font-weight:normal;color:#222;font-size:14px;text-align:center;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border:solid 1px #bbb;border-bottom-color:#AAA;background-color:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#bbb));background:-moz-linear-gradient(top, #f3f3f3, #bbb);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#BBBBBB')}#pro_info .already_subscribed{text-align:center;margin-top:15px}#pro_info .already_subscribed,#pro_info .already_subscribed a{color:#777;font-size:14px}#pro_info .already_subscribed a{text-decoration:underline}#pro_subscribe{width:800px;margin:0 auto;font-size:14px}#pro_subscribe .intro img{float:left;padding-top:5px;margin-right:25px;margin-bottom:20px}#pro_subscribe .intro h2{font-size:20px;margin-bottom:3px;color:black;margin-top:0}#pro_subscribe .intro{font-size:13px;color:#777;margin-bottom:30px}#pro_subscribe label{float:left;width:200px;text-align:right;padding-right:10px;padding-top:2px}#pro_subscribe .card_types label{padding-top:8px}#pro_subscribe .cvv_icon{vertical-align:bottom;padding-left:10px}#pro_subscribe .optional{font-size:12px;color:#777}#pro_subscribe .button,#pro_subscribe .quantity{margin-left:210px}#pro_subscribe label.error{display:inline;float:none;color:#D00;padding-left:10px;vertical-align:top}#pro_subscribe h1{margin-left:210px;font-size:18px;margin-top:30px;margin-bottom:1px}#pro_subscribe .cancel_button{font-size:12px;padding:4px 10px 4px 10px;font-weight:normal;border:1px solid #98211e;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;color:#FFF;background:#BC372B;background:-webkit-gradient(linear, left top, left bottom, from(#e55750), to(#9d221a));background:-moz-linear-gradient(top, #e55750, #9d221a);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E55750', endColorstr='#9D221A');text-decoration:none;text-shadow:0 -1px 0 #036}#manage_subscription{width:800px;margin:0 auto}#manage_subscription .intro{font-size:16px;line-height:22px}#manage_subscription .intro img{float:left;padding-top:5px}#manage_subscription .intro p{margin-left:210px;margin-top:0}#manage_subscription h2{margin:0;padding-top:10px;margin-bottom:10px}#payments{border:solid 1px #ccc;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px}#payments .no_payments{font-style:italic;text-align:center;margin:10px 0}#payments .payment{border-bottom:solid 1px #ccc;position:relative;height:40px}#payments .payment:last-child{border-bottom:none}#payments .payment .card_type{position:absolute;left:10px;top:5px}#payments .payment .date{position:absolute;left:80px;top:12px}#payments .payment .transaction_number{position:absolute;left:270px;top:12px}#payments .payment .amount{position:absolute;left:550px;top:12px}#payments .payment .receipt{position:absolute;right:10px;top:12px}#manage_subscription .next_payment{text-align:center;font-weight:bold}#manage_subscription .actions{text-align:center}#subscription_lookup{margin-right:300px}#subscription_lookup label{display:inline}#subscription_lookup input[type=submit]{margin-left:10px}#about{margin-right:300px}#about .ryan{float:right;padding:7px;margin-left:50px;border:solid 1px #ccc;text-align:center;font-weight:bold}#about .ryan img{display:block;padding-bottom:5px}#about h2{margin-top:25px;margin-bottom:8px}#about p{margin:8px 0}#give_back{float:left;margin-right:8px;margin-bottom:5px}#give_back_instructions{font-size:16px;margin-top:20px}#give_back_instructions ol{margin:0;padding:0}#give_back_instructions li{padding:0;margin:30px 28px;margin-right:0}#give_back_instructions li li{padding:0;margin:15px 28px;margin-right:0}#contest{position:relative}#contest h1{font-size:26px;margin-bottom:2px}#contest .faqs{margin-right:300px}#contest .prizes h3{font-size:14px;margin-bottom:3px;margin-top:20px}#contest .prizes ul{margin:0}#contest .tagline{color:#777;font-size:18px;font-weight:bold}#contest .prize_selection{float:right;margin-left:40px;margin-bottom:30px}#contest .intro{font-size:18px;margin-right:350px}#contest .sponsors{text-align:center;position:absolute;top:270px;right:20px}#contest .sponsors h2{font-size:20px;color:#555}#contest .sponsor{margin:15px 0}#announcement_banner{padding:5px 0;text-align:center;color:#000;background-color:#FFF7E0;border-top:solid 2px #de9f00;border-bottom:solid 2px #de9f00;margin:10px 0}#announcement_banner p{margin:5px 0}#announcement{margin-right:300px}#feedback{width:680px;float:left}#feedback_instructions{margin-left:700px;min-width:225px}#feedback_instructions li{margin:5px 0}#feedback h2.bar{padding:4px 20px;margin:0;font-weight:normal;color:#333;font-size:14px;text-align:center;border-top-left-radius:6px;border-top-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;border:solid 1px #bbb;border-bottom-color:#AAA;background-color:#DDD;background:-webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#bbb));background:-moz-linear-gradient(top, #f3f3f3, #bbb);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3F3F3', endColorstr='#BBBBBB')}#feedback form{background-color:#EEE;padding:10px 20px;border:solid 1px #bbb;border-top:none;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px}

#feedback .info{font-size:13px;margin-bottom:30px}#feedback label{float:left;width:160px;text-align:right;padding-right:10px;padding-top:2px}#feedback .actions{padding-left:170px}#feedback input,#feedback textarea{font-size:14px}.CodeRay,.CodeRay pre{font-family:"Menlo","Courier New","Terminal",monospace;background-color:#232323;color:#E6E0DB}.CodeRay pre{margin:0px;padding:0px}.CodeRay .an{color:#e7be69}.CodeRay .c{color:#BC9358;font-style:italic}.CodeRay .ch{color:#509e4f}.CodeRay .cl{color:#fff}.CodeRay .co{color:#fff}.CodeRay .fl{color:#a4c260}.CodeRay .fu{color:#ffc56d}.CodeRay .gv{color:#d0cffe}.CodeRay .i{color:#a4c260}.CodeRay .il{background:#151515}.CodeRay .iv{color:#d0cffe}.CodeRay .pp{color:#e7be69}.CodeRay .r{color:#cb7832}.CodeRay .kw{color:#cb7832}.CodeRay .rx{color:#a4c260}.CodeRay .s{color:#a4c260}.CodeRay .sy{color:#6c9cbd}.CodeRay .ta{color:#e7be69}.CodeRay .pc{color:#6c9cbd}#feeds_list{border-collapse:collapse}#feeds_list td{border:1px solid #999;padding:4px 8px}#notifications{width:680px}#notifications form{background-color:#EEE;padding:10px 20px;border:solid 1px #bbb;border-radius:5px;border-radius:5px;-webkit-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-moz-border-radius:5px}#notifications .info{font-size:13px;margin-bottom:30px}#notifications label{float:left;width:160px;text-align:right;padding-right:10px;padding-top:2px}#notifications input[type=checkbox]{margin-left:170px}#notifications .check_box label{float:none;width:auto;text-align:left;padding:0;display:inline}#notifications .actions{padding-left:170px}
*/